datasets>=2.6.1
evaluate>=0.3.0
hydra-core>=1.2.0
numpy>=1.19.5
POT>=0.8.2
python-dotenv>=0.21.0
pytorch-lightning>=1.8.1
torch>=1.9.1, ==1.9.*
tqdm>=4.64.0
transformers>=4.24.0
sacremoses>=0.0.53
wandb>=0.13.5